.pm-badge-anchor {
  direction: rtl;
  position: relative;
  display: inline-flex;
  width: fit-content;
  font-family: var(--md-ref-typeface-plain);
}

.pm-badge {
  direction: ltr;
  display: inline-grid;
  place-items: center;
  border-radius: var(--md-sys-shape-corner-full);
  font-family: var(--md-ref-typeface-plain);
  font-weight: 700;
  white-space: nowrap;
  box-sizing: border-box;
}

.pm-badge--small {
  inline-size: 6px;
  block-size: 6px;
  min-inline-size: 6px;
}

.pm-badge--large {
  min-inline-size: 16px;
  block-size: 16px;
  padding-inline: 4px;
}

.pm-badge__content {
  font-size: 10px;
  line-height: 16px;
  font-weight: 700;
}

.pm-badge--error {
  background: var(--md-sys-color-error);
  color: var(--md-sys-color-on-error);
}

.pm-badge--primary {
  background: var(--md-sys-color-primary);
  color: var(--md-sys-color-on-primary);
}

.pm-badge--secondary {
  background: var(--md-sys-color-secondary);
  color: var(--md-sys-color-on-secondary);
}

.pm-badge-anchor__badge {
  position: absolute;
  inset-block-start: 2px;
  inset-inline-start: 2px;
  transform: translate(-10%, -10%);
  z-index: 1;
}

.pm-badge-anchor__badge.pm-badge--small {
  inset-block-start: 8px;
  inset-inline-start: 8px;
}
